:root {
 --backgroundColor: white;   
 --primaryColor: #315d8f; 
 --secondary: #ADB5BD;
}

main{
    background-color: var(--primaryColor);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

body,
h1,
h2,
h3,
p {
    margin:0;
}

h3,
h2,
p,
div  {
    margin-bottom: 1em;
}

logo{
    max-width: 100%;
    
}