
/* Universal styles*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
 --backgroundColor: white;   
 --primaryColor: #002366; 
 --secondary: #ADB5BD;
 --menu-distance: 20%;
 --icon-distance: 15%;
}

body{
    margin: 0;
    padding: 0;
}

main{
   
    max-width: 100rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    margin-bottom: 15rem;
    
}

section{
    margin-bottom: 4rem;
}

img{
    display: block;
    max-width: 100%;

}

.hide{
    display: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
.circleImg{
    border-radius: 50%;
    min-width: 50px;
    max-width: 500px;
    

}

h1{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    color:var(--primaryColor)
}

ul{
    list-style: none;
}

.active{
    font-weight: bolder;
}

.video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-bottom: 2rem;
}

.video iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*link styles*/
.navbar-nav a{
    color: black;
    font-size: larger;
}
a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color:black;
}
  
a:hover {
    text-decoration: underline;
    color:var(--primaryColor);
}
  

a:active {
    text-decoration: underline;
    color:var(--primaryColor);
}

div .light{
    color:white;
}

footer{
    background-color: var(--primaryColor);
    color:white;
}

footer .footerLink{
    color:white;

}

.footerLink{
    text-decoration: none;
    color: white;
}



/*Naviagtion Styles*/
.container{
    max-width: 100%;
    margin: 0 auto;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}





nav{

    background-color: var(--backgroundColor);
    border-bottom: 3px solid --primaryColor;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 7px var(--primaryColor);
    min-height: 100px;
}



.navbar-nav{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav a:hover{
    text-decoration: underline;
}

.language{
    font-weight: bold;
    border-left: solid 3px var(--primaryColor);
}

.logo{
    margin-right: 0;
    padding-left: 0;
    margin-left: 0;
    width: 280px;
    max-width: 500px;
    
}

.jumbotron{
    
    padding:0;
    border-radius: 0;
}

.shadow{
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
}

/*Areas of practice styles*/

.practiceAreas{
    padding-left: 2rem;
    padding-right: 2rem;
}

h2{
    border-bottom: solid 2px var(--primaryColor);
    text-align: center;
}

.card{
    height: 400px;
    margin-top: 2rem;
    border: none;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.card-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.card-body{
    background-color: lightgray;
    margin-bottom: 2rem;
    border-radius: 0 0 12px 12px;

}

.card-text h3{
    font-size: 1.75rem;
}

#immigration{
    background-image: url(assets/statueOfLiberty1920.jpg);
    filter: grayscale(30%);

}

#criminalDefence{
    background-image: url(assets/justice1920.jpg);
    filter: grayscale(30%);

}

#familyLaw{
    background-image: url(assets/familyLaw1920.jpg);
    filter: grayscale(30%);

}


/*Our Story Styles*/

.ourStory{
    background-color: whitesmoke;
    margin-bottom: 0;
    padding-bottom: 2rem;
}
.ourStory p:last-child {
    margin-bottom: 0;
  }

.ourStory img{
    margin-bottom: 1rem;
}


/*about us styles*/

.staffCard{
    
    max-width: 50rem;
    border-radius: 25px;
}
.positionDescription{
    margin-top: 0;
    padding-top: 0;
}
.cardText{

    margin-top: .5rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.name{
    border-bottom: none;
    border-top: 4px solid var(--primaryColor);
    margin-bottom: 0;
}

/*contact us styles*/

.contactSection{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.map{
    width: 90%;

}



/*Media Q's*/

@media (min-width: 992px){
    .navbar-nav {
        margin-left: 7%;
        
    }
    .cardText{
        margin-top: 15%;
        font-size: larger;
    }
}




/*
body{
    margin: 0;
    padding: 0;
}



img{
    display: block;
    max-width: 100%;

}


.jumbotron{
    background-image: url(assets/staff.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 400px;
    
}

.nav,
.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    opacity: .5;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: var(--primaryColor);
}   
.navbar-links li a:hover{
    color: white;
    opacity: 1;
}

.nav{
    min-height: min-content;
}

.logo{
    min-width: 1.5rem;
    margin:0;
    
}

.toggle-button{
    position: absolute;
    top:.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 400px) {
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }
}
*/